@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
.login {
    width: 100%;
    height: 100vh;
    background: #f4f2f2;
    display: flex;
    align-items: center;
}
.login-content{
    width: 600px;
    background: #fff;
    margin: 0 auto;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.content-box {
    margin: 30px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.content-box .title {
    padding-top: 40px;
    text-align: center;
}
.content-box .register {
    padding-top: 0 !important;
}
.content-box .title .welcome {
    margin-bottom: 5px;
}
.content-box .title .continue{ 
    color: #878a99;
    font-size: 14px;
}
form {
    margin-top: 12px;
    width: 100%;
}
form .user, .pass, .email {
    margin-bottom: 1rem;
}
form label {
    margin-bottom: 0.5rem;
    display: inline-block;
    font-size: 14px;

}
form label .red {
    color: red;
}
form .input {
    width: 100%;
    border: 1px solid #dde1ef;
    border-radius: 3px;
    padding: 10px 50px 10px 15px;
}
form .input:focus{
    outline: none;
}
form .pass .form-input {
    position: relative;
}
form .pass .form-input .fa-regular {
    position: absolute;
    top: 30%;
    right: 3%;
}
form .pass input[type="password"] ~ .fa-eye {
    display: none;
}
form .pass input[type="text"] ~ .fa-eye-slash {
    display: none;
}
form .remember {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
form .remember .remember-left {
    display: flex;
    align-items: center;
}
form .remember .me {
    margin-bottom: 0;
    margin-left: 5px;
}
form .remember label {
    font-size: 14px;
    cursor: pointer;
}
form .remember .forgot {
    color: #878a99;
    font-size: 13px;
    text-decoration: none;
}
form .remember .forgot:hover {
    color: #3762ea;
}
form  .btn {
    margin-top: 1rem;
}
form  .btn .btn-sign {
    width: 100%;
    padding: 10px;
    background: #3258d3;
    border: none;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}
#sign-up {
    margin-top: 10px;
}
.content-box .with {
    width: 100%;
}
.content-box .with .with-top {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 1.5rem;
}
.content-box .with .with-top .horizontal {
    flex-grow: 1;
    height: 1px;
    /* background: #3258d3; */
    border: 1px dashed #3258d3;
}
.content-box .with .with-top .signin-with {
    font-size: 14px;
}
.content-box .with .with-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.content-box .with .with-icon a {
    text-decoration: none;
}

.content-box .with .with-icon i{
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border-radius: 5px;
}
.content-box .with .with-icon .fa-facebook-f {
    background: #e1e7fc;
    color: #3258d3;
}
.content-box .with .with-icon .fa-facebook-f:hover {
    background: #3762ea;
    color: #fff;
}
.content-box .with .with-icon .fa-google {
    background: #ffe9e9;
    color: #ff6c6c;
}
.content-box .with .with-icon .fa-google:hover {
    background: #ff6c6c;
    color: #fff;
}
.content-box .with .with-icon .fa-github {
    background: #e9ebec;
    color: #0f1114;
}
.content-box .with .with-icon .fa-github:hover {
    color: #fff;
    background: #0f1114;
}
.content-box .with .with-icon .fa-twitter {
    background: #e4f3f6;
    color: #4ab0c1;
}
.content-box .with .with-icon .fa-twitter:hover {
    background: #4ab0c1;
    color: #fff;
}
.content-box .with .with-account {
    margin-top: 3rem;
    text-align: center;
}
.content-box .with .with-account.register-mt {
    margin-top: 0;
}
.content-box .with .with-account .account {
    font-size: 14px;
}
.content-box .with .with-account .account .sign-up {
    text-decoration: none;
    font-weight: bold;
    color: black;
}
@media only screen and (max-width: 600px) {
    .login-content {
        margin: 10px;
    }
    .content-box .register {
        padding-top: 20px !important;
    }
    .content-box{
        margin: 0;
        padding: 40px;
    }
    
}
@media only screen and (max-width: 414px) {
    .content-box{
        padding: 20px;
    }
    .content-box .title .welcome {
        font-size: 20px; 
    }
    .content-box .title .continue {
        font-size: 12px;
    }
}




.loader__btn {
    width: 100%;
    padding: 10px;
    background: #3258d3;
    border: none;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .loader {
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-left-color: #fff;
    border-radius: 50%;
    width: 23px;
    height: 23px;
    animation: spin89345 1s linear infinite;
    margin-left: 10px;
  }
  
  @keyframes spin89345 {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }
  