.bottombar {
    background: var(--brg-main);
    height: calc(100vh - 60px);
}
.bottombar .product-item-1 {
    display: flex;
    justify-content: space-between;
    padding: 20px 20px 0;
}
.bottombar .product-item-1 .product-title {
    font-weight: bold;
    color: var(--title);
}
.bottombar .product-item-1 .path a, .fa-angle-right {
    font-size: 14px;
    color: #878a99;
    margin: 5px;
}
.filter {
    padding: 20px;
} 
.filter .filter-brg {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 10px;
    background: var(--brg-row);
    border-radius: 7px;
}
.filter .filter-left select{
    height: 40px;
    border: none;
    background: var(--select);
    color: var(--text-select);
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
}

.filter .filter-left select:focus {
    outline: none;
}
.filter .filter-left select.select-low-high {
  margin-left: 10px;
}
.filter .filter-right {
    display: flex;
    align-items: center;
    gap: 20px;
}
.filter .filter-right .refresh {
    background: var(--select);
    color: var(--text-select);
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    cursor: pointer;
}
.filter .filter-right .add {
    background: blue;
    height: 40px;
    display: flex;
    align-items: center;
    padding: 20px;
    border-radius: 10px ;
    cursor: pointer;
}
.filter .filter-right .add .add-sv {
    color: var(--white);
    font-size: 14px;
}
.filter .filter-right .add .add-sv .fa-circle-plus {
    margin-right: 10px;
}
.filter-mid {
    padding: 10px 20px;
}
.table {
    padding: 10px;
    background: var(--brg-row);
    border-radius: 7px;
    overflow-x: auto;
}
.group {
    display: flex;
    line-height: 28px;
    align-items: center;
    position: relative;
    max-width: 220px;
  }
  
  .input {
    width: 100%;
    height: 40px;
    line-height: 28px;
    padding: 0 1rem;
    padding-left: 2.5rem;
    border: 2px solid transparent;
    border-radius: 8px;
    outline: none;
    background: var(--select);
    color: #0d0c22;
    transition: 0.3s ease;
  }
  
  .input::placeholder {
    color: #9e9ea7;
  }
  
  .input:focus,
  input:hover {
    outline: none;
  }
  
  .icon {
    position: absolute;
    left: 0.5rem;
    fill: #9e9ea7;
    width: 1rem;
    height: 1rem;
  }


.content-table {
    width: 100%;
    border-collapse: collapse;
    margin: 10px 0;
    font-size: 0.9em;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    color: var(--text);
  }
  
  .content-table thead tr {
    background-color: rgb(243, 243, 244);
    color: var(--black1);
    text-align: left;
    font-weight: bold;
  }
  
  .content-table th,
  .content-table td {
    padding: 12px 15px;
    white-space: nowrap;
  }
  .content-table td .img-pro {
    width: 30px;
    height: 30px;
  }
  .content-table tbody tr {
    border-bottom: 1px solid #dddddd;
    border-color: inherit;
  }
  .content-table tbody tr td.status .status-online {
    padding: 5px 15px;
    background: #fef4e4;
    color: rgba(246, 183, 73);
    border-radius: 5px;
    font-size: 12px;
  }
  .content-table tbody tr td.status .status-off {
    padding: 8px 15px;
    background: #ffa5a5;
    color: #FF0000;
    border-radius: 12px;
  }
  .content-table tbody.list tr td.feature button.btn {
    border: none;
    cursor: pointer;
    margin-right: 5px;
    background: none;
    width: 26px;
    height: 26px;
    border-radius: 5px;
  }
  .content-table tbody.list tr td.feature button.close {
    background: #ffe9e9;
  }
  .content-table tbody.list tr td.feature button.edit {
    background: #ddddde;
  }
  .content-table tbody.list tr td.feature button.close i {
    color: #ff7a78;
    font-size: 10px;
  } .content-table tbody.list tr td.feature button.edit i {
    font-size: 10px;
  }
  .bottom {
    display: flex;
    justify-content: space-between;
    padding: 10px 4px;
    color: var(--text);
    }
  .bottom .pages .pages-1 {
        background: var(--white);
        padding: 5px 10px;
        color: #9e9ea7;
        border: 1px solid #9e9ea7;
    }