main 
{
    position: absolute;
    width: calc(100% - 250px);
    left: 250px;
    min-height: 100%;
    height: auto;
    background: var(--brg-main);
    transition: 0.5s;
}
.main.active{
    width: calc(100% - 80px);
    left: 80px;
}
footer {
    height:60px; 
    position: absolute;
    width: 100%;
    bottom: 0;
    background: var(--brg-topbar);
    border-top: 1px solid var(--brg);
   }
   footer .footer-item-row {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    color: #878a99;
    font-size: 12px;
   }